@import 'bourbon';
@import 'grid-settings';
@import 'neat';
@import 'bitters/bitters';

$background: #EAEBBC;
$type-base-color: #fff;
$font-stack: 'Alegreya Sans', sans-serif;

a {
  cursor:pointer;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}
html, body, ,#wrapper, #map {
  height: 100%;
}
div#header {
  height:20px;
  width:80%;
  margin:0 auto;
  padding: 12px 0;
  font-weight: 400;
  position: absolute;
  z-index: 500;
}

div.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  padding:72px 0 15px;
  background: transparent url(../img/footer_background.png) repeat-x 50% 0;
  font-size: .917em;
  
  div#content {
    width:80%;
    height:300px;
    margin: 0 auto;
    color:#fff;

    h2 {
      display:inline-block;
      font-family: $font-stack;
      font-weight: 100;
      color: $type-base-color;
      font-size: 36px;
    }

    h3 {
      display:inline-block;
      font-family: $font-stack;
      font-weight: 100;
      font-size: 22px;
      color: darken( $type-base-color, 50% );
      font-style:italic;
    }

    hr {
      margin-top:5px;
    }

    svg {
      display:inline-block;
      margin-left:50px;

      .axis path, .axis line {
        fill: none;
        stroke: white;
        shape-rendering: crispEdges;
      }

      .axis .tick {
        fill:white;
      }

    }

    div.vert-seperator {
      display: inline-block;
      border-right: 1px solid #fff;
      height:150px;
      margin-right:24px;
    }
  }

}

div#wrapper {


  div#map {
    position: absolute;
    width:100%;
    height:100%;
    margin: 0 auto;
  }

}

.linear-gradient {     
  @include linear-gradient(#5993FF, #ffffff); 
}
