@import 'bourbon';
@import 'grid-settings';
@import 'neat';
@import 'bitters/bitters';

$background: #EAEBBC;
$type-base-color: #224727;
$font-stack: 'Alegreya Sans', sans-serif;

a {
  cursor:pointer;
}

html, body {
  width:100%;
  height:100%;
}
body {
  background:$background;
  font: 100 $font-stack;
}

div#header {
  height:20px;
  width:80%;
  margin:0 auto;
  padding: 12px 0;
  font-weight: 400;
  font-family: $font-stack;
  color: $type-base-color;
}

div#wrapper {

  h2 {
    font-family: $font-stack;
    font-weight: 100;
    color: $type-base-color;
    font-size: 36px;
  }

  div#map {
    width:100%;
    height:600px;
    margin: 0 auto;
  }

  div#content {
    width:80%;
    margin: 0 auto;
  }
}

.linear-gradient {     
  @include linear-gradient(#5993FF, #ffffff); 
}
